{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <title>Document</title>
</head>
<script type="text/javascript" src="{% static 'Chart.min.js' %}"></script>
<body>
    </div>
    <br>
    <br>
    <p>
        <SELECT id="selectedSupOrInfId" name="nom" size="1">
            <OPTION>Supérieur à
            <OPTION>Inférieur à
        </SELECT>
        <input id = "inputId" type="text">
    </p>
    <p>
        <SELECT id="selectedMonthFromId" name="nom" size="1">
            <OPTION>January
            <OPTION>February
            <OPTION>March
            <OPTION>April
            <OPTION>May
            <OPTION>June
            <OPTION>August
            <OPTION>September
            <OPTION>October
            <OPTION>November
            <OPTION>December
        </SELECT>
        <SELECT id="selectedMonthToId" name="nom" size="1">
            <OPTION>January
            <OPTION>February
            <OPTION>March
            <OPTION>April
            <OPTION>May
            <OPTION>June
            <OPTION>August
            <OPTION>September
            <OPTION>October
            <OPTION>November
            <OPTION>December
        </SELECT>
        <button id="filterLabel" onclick="applyDateFilter(), applySupOrInfFilter()">Filtrer</button>
    </p>
</body>

</html>
<script>
    
    fetch('{% url "dashboard" %}' + '?action=get_json_data').then(
        data => data.json(),

    ).then(function (data) {
        build_dashboard(data.options.charts)

    }).catch(function (data) {
        console.log(data)
    });

    function build_dashboard(data) {

        // Create main page

        let body = document.getElementsByTagName("body")[0];
        let divMainPage = document.createElement("DIV");
        divMainPage.className = "w3-row";
        divMainPage.id = "main_page";
        body.appendChild(divMainPage);

        for (let i = 0, l = data.length; i < l; i++) {
            // create canvas
            let canvas = document.createElement("CANVAS");
            canvas.getContext("2d");


            // Create canvas's container
            let container = document.createElement('DIV');
            container.classList.add(
                'w3-col', 'l' + data[i].width.l,
                'm' + data[i].width.m,
                's' + data[i].width.s,
                'w3-padding');
            container.appendChild(canvas);
            container.style.height = data[i].height.l * 200 + 'px';
            document.getElementById('main_page').appendChild(container);

            // fetch (get) the chart option's

            fetch(data[i].url + '?action=get_json_data&' + data[i].url_parameters).then(
                response => response.json(),
                
            ).then(function (response) {

                chart = new Chart(canvas, response);
            
                initialChartData = chart.data.datasets[0].data;
                initialChartLabel = chart.data.labels;

            }).catch(function (response) {
                console.log(response)
            });
        };
       
    }
    
    function applySupOrInfFilter() {
        
        //Get the selected values
       
        var selection = document.getElementById("selectedSupOrInfId");
        var selectedOptionVal = selection.options[selection.selectedIndex].text;
        var inputVal = document.getElementById("inputId").value;
       
        chart.data.datasets[0].data = initialChartData;

        //Filter by values
        
        chart.data.datasets.forEach((element,i) => {
            
           if (selectedOptionVal ==='Supérieur à'){

                //Assign the new value of the data to the chart when the condition is true
                
                chart.data.datasets[i].data = element.data.map(value=>{
                  
                    if(inputVal === "" || value>=inputVal) {
                        return value ;
                    }else {
                    return 0;
                    }
                });
            }else{
                chart.data.datasets[i].data = element.data.map(value=>{

                    if(value<=inputVal) {
                        return value;
                    }else {
                        return 0;
                    }
                })
            }    
   
        chart.update();
           
        });
    }

    function applyDateFilter() {
       
        let months =[];
        let labelsChart = initialChartLabel;
        

        // Assign the months to theirs indexes

        for (let i = 0;i<= labelsChart.length;i++){
            months.push({month:labelsChart[i],indexMonth: i})
        }

        let from = 0;
        let toMonth = 12;

        //Get the selected values

        let selection = document.getElementById("selectedMonthFromId");
        let selectedMonthFrom = selection.options[selection.selectedIndex].text;
        selection = document.getElementById("selectedMonthToId");
        let selectedMonthTo = selection.options[selection.selectedIndex].text;

        for (i in months){
           
            if(months[i].month === selectedMonthFrom){
                from = months[i].indexMonth;
            }
            if (months[i].month === selectedMonthTo){
                toMonth = months[i].indexMonth;
            }
        }

        //Filter the chart by date
       
        // Shift labels
    
        chart.data.labels = labelsChart.slice(parseInt(from),parseInt(toMonth)+1);
      
        //Shift data
        
        let j = 0;
                        
        for(i in months){ 

            // If the month filtered === Label month => Return the value relative to the label month
            if(chart.data.labels[j] === months[i].month && j< chart.data.labels.length -1){
                chart.data.datasets[0].data[j] = chart.data.datasets[0].data[i];
                j++;
                
            }
        }

        chart.update();
        
    };

   
</script>
